body {
    font-family: 'JetBrains Mono';
}

#sliderColor {
    width: 100%;
    height: 14%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: 'JetBrains Mono';
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#sliderColor {
    background-color: rgba(89, 63, 98, 1);
    border-radius: 6px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 6px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid white;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #8499B1;
    color: white;
}

button {
    background-color: #593F62; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

select {
    background-color: #36151E;
    padding: 10px;
    border-radius: 9px;
    color: white;
}

.footerSpace {
    height: 300px;
}

.challengeTitle {
    font-weight: 900;
}

form > input {
    padding: 5px;
    font-family: 'JetBrains Mono';
}